.select {
    border: none;
    outline: none;
    background-color: $color-primary-light;
    color: $color-primary-dark;
    border-radius: 5px;
    padding: .8rem;
    font-family: inherit;
    font-size: 1.4rem;
}

.input-date {
    border: none;
    outline: none;
    background-color: $color-primary-light;
    color: $color-primary-dark;
    border-radius: 5px;
    padding: .8rem;
    font-family: inherit;
    font-size: 1.4rem;  
}