@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

$color-primary: #4d5050;
$color-primary-dark: #1d1d1d;
$color-primary-light: #f1f1f1;

$color-secondary: #6ac046;
$color-secondary-light: #55c57a;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 62.5%;
$default-font-family: Lato, sans-serif;
$heading-font-family: 'Merriweather Sans', sans-serif;
