.header {
    width: 95%;
    height: 40vh;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
                        to bottom right, 
                        rgba($color-primary-dark, 0.8), 
                        rgba($color-secondary-light, 0.8)), 
                    url(../../assets/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include respond(tab-port) {
        width: 100%;
        height: 30vh;
    }

    @include respond(phone) {
        margin-left: 0;
        height: 25vh;
    }

    &__search {
        display: flex;
        width: 80%;
        margin-top: 1.5rem;

        &-input {
            width: 100%;
            font-family: inherit;
            font-size: 1.8rem;
            color: $color-primary-dark;
            padding: 1rem 3.5rem;
            outline: none;
            border: none;
            border-radius: 2rem;

            @include respond(tab-port) {
                padding: .7rem 2.8rem;
                font-size: 1.5rem;
            }

            @include respond(phone) {
                padding: .5rem 2.6rem;
                font-size: 1.3rem;
            }
        }

        &-button {
            margin: .3rem 0 .3rem -13rem;
            border-radius: 2rem;
            padding: 0 4rem;
            font-size: 1.5rem;
            font-family: inherit;
            font-weight: 500;
            background-color: $color-secondary-light;
            color: $color-primary-light;
            outline: none;
            border: none;
            cursor: pointer;

            @include respond(tab-port) {
                padding: 0 3rem;
                font-size: 1.4rem;
                margin: .3rem 0 .3rem -10.7rem;
            }

            @include respond(phone) {
                padding: 0 2rem;
                font-size: 1.2rem;
                margin: .3rem 0 .3rem -8rem;
            }
        }

        &-icon {
            height: 2rem;
            width: 2rem;
            transform: translateX(3rem);
            margin-top: 1rem;
            fill: $color-primary;

            @include respond(tab-port) {
                height: 1.7rem;
                width: 1.7rem;
                margin-top: .8rem;
                transform: translateX(2.5rem);
            }

            @include respond(phone) {
                height: 1.5rem;
                width: 1.5rem;
                margin-top: .5rem;
                transform: translateX(2.2rem);
            }
        }
    }
}