.main {
    padding: 2rem;

    @include respond(tab-land) {
        padding: 2rem 1rem;
    }

    @include respond(tab-port) {
        padding: 1rem .5rem;
    }

    @include respond(phone) {
        padding: 1rem 0;
    }

    &__sidebar {
        padding: 2rem;
    }

    &__content {
        padding: 2rem;
    }
}

.date-range {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &__from, &__to {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}