.movie {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to right, 
        rgba($color-black, 1), 
        rgba($color-primary-dark, 0.7));

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        opacity: .8;

        @include respond(phone) {
            object-fit: fill;
        }
    }

    @include respond(phone) {
        height: 80vh;
    }

    &__poster {
        margin: 4rem;

        @include respond(tab-land) {
            margin: 2rem;
        }

        @include respond(tab-port) {
            margin: 1rem;
        }

        @include respond(phone) {
            display: none;
        }

        &--poster {
            border-radius: 5px;
        }
    }

    &__content {
        margin: 4rem 10rem 4rem 2rem;
        display: flex;
        flex-direction: column;

        @include respond(tab-land) {
            margin: 0 2rem 0 0;
        }

        @include respond(tab-port) {
            margin: 1rem;
        }

        &-item {
            margin: 1rem 0;
        }

        &-rate {
            display: flex;
            align-items: center;

            &-btn {
                margin-right: 2rem;
                padding: 1rem 1.1rem;
                background-color: $color-secondary-light;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                
                &-icon {
                    height: 2rem;
                    width: 2rem;
                    fill: $color-white;
                }
            }
        }
    }
}